html {
    font-size: 16px;
    font-family: "Sofia Sans", sans-serif;
}

@media only screen and (max-width: 895px) {
    html {
        font-size: 12px;
    }
}

ol,ul {
	list-style: none;
	}

h1 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%;
}

video {
    max-width: 100%;
}

/*HEADER*/

.head {
    height: 4rem;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 100;
    background-color: white;
}

.head__logo {
    display: flex;
    width: 50%;
    font-size: 1.25rem;
    font-weight: 200;
    padding-left: 1.5rem;
}

.head__logoimg {
    min-height: 2rem;
    min-width: 2rem;
}

.head__logoname--emph{
    font-weight: bold;
}

.head__nav {
    width: 50%;
    font-size: 1.25rem;
    padding-right: 1.5rem;
}

.head__navlist {
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: flex-end;
}

.head__navlist a {
    color: black;
}

/* header-mobile*/

.mobile {
    width: 100%;
}

.mobile__navlist {
    justify-content: space-evenly;
    padding: 0;
    align-items: center;
}

@media only screen and (max-width: 560px) {
    .desktop {
        display: none;
    }
}


/*MAIN*/

#main {
    position: relative;
    top: 4rem;
}

.title {
    text-align: center;
    margin: 0;
}


/*containers*/

.content {
   padding: 2rem 0 2rem 1.5rem;
}

.content__left {
    max-width: 60%;
}

.content__right {
    max-width: 40%;
    margin-left: 1.5rem
}

.flex {
    display: flex;
}

/*banners*/

.banner {
    display: flex;
    padding: 1rem;
    border-left: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

.banner__imgcontainer {
    width: 35%;
    padding: 1rem;
}

.banner__text {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner__textitem {
    margin: 0.25rem 1rem;
}

.banner--highlight {
    background-color: lightgrey;
}

.banner--border--bottom {
    border-bottom: 1px solid lightgrey;
}

.banner--border {
    border: 1px solid lightgrey;
}

/*cards*/

.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 2.5rem;
    justify-content: center;
}

.card__container {
    margin: 1rem;
    background-color: white;
    width: 25rem;
    height: 25rem;
}

.card__imgcontainer {
    height: auto;
    width: 100%;
}

.card__img {
    width: 100%;
}

.card__textcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
}

.card__text {
    margin: 0.5rem;
    color: grey;
}

.card__text--title {
    margin: 0.5rem;
    color: black
}

/*LANDING*/

.landing__text {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20rem;
}

.landing__item {
    margin: 0;
}

.landing__text h3 {
    margin: 1.6rem 0;
}

.landing__item--btn {
    color: white;
    background-color: grey;
    padding: 0.5rem 3rem;
    margin: 1rem;
    max-width: 12rem;
    text-align: center;
}

/*INFORMATION*/

.info__left__item{
    margin: 0 0 1.5rem 0;
}

.info__left__item--bottom {
    margin: 3rem 0 0 0;
}

/*COURSES*/

.courses {
    padding: 2rem 0;
}

.content--background {
    background-color: lightgrey;
}

.courses__title {
    padding-bottom: 1rem;
}


/*THESIS*/

.thesis__title {
    padding-top: 2rem;
}


/*FOOTER*/

.foot {
    display: flex;
    padding: 1rem 1.5rem 2rem 1.5rem;
    border-top: 1px solid lightgrey;
}

.foot__copyright {
    flex: 1
}

.foot__termsprivacy {
    padding-left: 0.8rem;
}
