html {
    font-size: 16px;
}

ol,ul {
	list-style: none;
	}

h1 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
}

/*HEADER*/

.head {
    height: 4rem;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 100;
    background-color: white;
}

.head__logo {
    display: flex;
    width: 50%;
    font-size: 1.25rem;
    padding-left: 1.5rem;
}

.head__logoimg {
    min-height: 2rem;
    min-width: 2rem;
}

.head__logoname--emph{
    font-weight: bolder;
}

.head__nav {
    width: 50%;
    font-size: 1.25rem;
    padding-right: 1.5rem;
}

.head__navlist {
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: flex-end;
}

.head__navlist a {
    color: black;
}


/*MAIN*/

#main {
    position: relative;
    top: 4rem;
}


/*START section*/

.landing {
    display: flex;
    padding: 2rem 1.5rem;
    background-color: lightgrey;
}

.landing__imagecontainer {
    margin-right: 0.75rem;
    width: 60%;
}

.landing__imagecontainer img {
    width: 100%;
    height: auto;
}

.landing__text {
    margin-left: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20rem;
}

.landing__item {
    margin: 0;
}

.landing__text h3 {
    margin: 1.6rem 0;
}

.landing__item--btn {
    color: white;
    background-color: grey;
    padding: 0.5rem 3rem;
    max-width: 12rem;
    text-align: center;
}


/*INFORMATION*/

.info {
    display: flex;
    margin-bottom: 2rem;
}

.info__left {
    width: 60%;
    padding: 2rem 0 2rem 1.5rem; 
}

.info__left img {
    max-width: 100%;
    margin: 0 0 2rem 0;
}

.info__left--item{
    margin: 0 0 1.5rem 0;
}

.info__right {
    max-width: 40%;
    margin-left: 0.75rem; 
}

.info__card {
    display: flex;
    padding: 1rem;
    border-left: 1px solid lightgrey;
}

.info__card .info__imagecontainer{
    width: 35%;
    padding: 1rem;
}

.info__imagecontainer img {
    max-width: 100%;
    height: auto;
}

.info__cardtext {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__cardtext--item {
    margin: 0.25rem 1rem;
}

.info__card--lecture {
    background-color: lightgrey;
}


/*COURSES*/

.courses {
    background-color: lightgrey;
    padding-bottom: 1rem;
}

.courses h1 {
    text-align: center;
    padding: 2rem 0 1rem 0;
    margin: 0;
}

.course__cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 2.5rem;
    justify-content: center;
}

.course__card {
    margin: 1rem;
    background-color: white;
    width: 25rem;
    height: 25rem;
}

.course__img {
    height: auto;
    
}

.course__img img {
    height: auto;
    width: 100%;
}

.course__text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
}

.course__text--item {
    margin: 0.5rem;
    color: grey;
}

h3.course__text--item {
    color: black
}


/*THESIS*/

.thesis {
    margin: 0 0 2rem 1.5rem;
    display: flex;
}

#thesis-exhibit h1 {
    padding: 2rem 0;
    margin: 0;
    text-align: center;
}

.thesis__left {
    max-width: 60%;
}


.thesis__video {
    max-width: 100%;
}

.thesis__textcontainer {
    margin-top: 1.5rem;
}


.thesis__right {
    max-width: 40%;
}
/*same as cards in info section- below*/
.thesis__right {
    max-width: 40%;
    margin-left: 0.75rem;
    
}

.thesis__card {
    display: flex;
    padding: 1rem;
    border-left: 1px solid lightgrey;
}

.thesis__card--borderbottom {
    border-bottom: 1px solid lightgrey;
}

.thesis__card .thesis__imagecontainer{
    width: 35%;
    padding: 1rem;
}

.thesis__imagecontainer img {
    max-width: 100%;
    height: auto;
}

.thesis__cardtext {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thesis__cardtext--item {
    margin: 0.25rem 1rem;
}

.thesis__card--fisma {
    background-color: lightgrey;
}
/*same as cards in info section- above*/

/*FOOTER*/

.foot {
    display: flex;
    padding: 1rem 1.5rem 2rem 1.5rem;
    border-top: 1px solid lightgrey;
}

.foot__copyright {
    flex: 1
}

.foot__termsprivacy {
    padding-left: 0.8rem;
}
