html {
    font-size: 16px;
}

ol,ul {
	list-style: none;
	}


    /*HEADER*/

.head {
    height: 5.34rem;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
}

.head__logo {
    display: flex;
    width: 50%;
    font-size: 1.25rem;
    padding-left: 1.5rem;
}

.head__logoimg {
    min-height: 2rem;
    min-width: 2rem;
}

.head__logoname--emph{
    font-weight: bolder;
}

.head__nav {
    width: 50%;
    font-size: 1.25rem;
    padding-right: 1.5rem;
}

.head__navlist {
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: flex-end;
}

.head__navlist a {
    text-decoration: none;
}